/* Body. */
body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 20vh
}

/* Logo. */
.logo-leaf {
    font-size: 1em;
    color: #5cb85c;
}

.logo {
    color: #fff;
}

.logo:hover {
    color: #fff;
    text-decoration: none;
}

/* Form margin */
.input-group {
    margin-bottom: 0.5em;
}

/* Result View. */
#result {
    display: none;
}

/* Co2 display. */
.co2 h1 {
    font-size: 8em;
}

/* Hide all Co2. */
.co2 {
    display: none;
}

/* KgCO2 Unit display. */
.co2-unit {
    font-size: 18px;
}

/* Details. */
.details {
    background: rgba(0,0,0, 0.2);
    text-align: left;
}


/* Remove rounded corners. */
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
